In [1]:
import pandas as pd
import numpy as np

In [2]:
flights = pd.read_csv('Filghts TEC_Valid.csv')
sales = pd.read_csv('Sales TEC_Valid.csv')

In [3]:
flights.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 245753 entries, 0 to 245752
Data columns (total 11 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   Flight_ID         245753 non-null  object
 1   Aeronave          165363 non-null  object
 2   DepartureStation  245752 non-null  object
 3   ArrivalStation    245752 non-null  object
 4   Destination_Type  245752 non-null  object
 5   Origin_Type       245752 non-null  object
 6   STD               245753 non-null  object
 7   STA               245753 non-null  object
 8   Capacity          245753 non-null  int64
 9   Passengers        122228 non-null  float64
 10  Bookings          122228 non-null  float64
dtypes: float64(2), int64(1), object(8)
memory usage: 20.6+ MB

In [4]:
flights

,Flight_ID,Aeronave,DepartureStation,ArrivalStation,Destination_Type,Origin_Type,STD,STA,Capacity,Passengers,Bookings
0,ab954014077430bd842cfa305a55c0f8,XA-VBY,AT,AZ,Ciudad Fronteriza,Ciudad Principal,2023-10-19 11:40:00,2023-10-19 14:25:00,240,229.0,157.0
1,efd86c996035dacdca7a0ccb2560dda1,XA-VIX,BM,AV,MX Amigos y Familia,Ciudad Fronteriza,2023-07-03 00:55:00,2023-07-03 04:55:00,186,197.0,109.0
2,6cfa1bbaa44f08fc7d3061f034a6a5ce,XA-VBV,AW,AS,MX Amigos y Familia,Ciudad Principal,2024-02-16 17:10:00,2024-02-16 17:55:00,220,NaN,NaN
3,dd0fad3248951d2f71d63e6279aeaa4b,XA-VBW,AW,AS,MX Amigos y Familia,Ciudad Principal,2023-06-26 15:15:00,2023-06-26 15:55:00,220,200.0,142.0
4,d0987ee648eea254063bfe2b39571b67,XA-VAP,BA,AB,Playa,Ciudad Principal,2023-02-10 08:40:00,2023-02-10 09:50:00,186,162.0,90.0
...,...,...,...,...,...,...,...,...,...,...,...
245748,cc7c1c5e6fd132fd0bdab3a35aac33c0,XA-VBK,BM,BT,Playa,Ciudad Fronteriza,2023-12-29 07:30:00,2023-12-29 14:50:00,240,189.0,86.0
245749,ef32da2731db80faa8b9f5030979a016,9H-MLV,AW,BT,Playa,Ciudad Principal,2024-04-20 10:45:00,2024-04-20 14:00:00,178,NaN,NaN
245750,9c8970e9836d9c5ef9415bfa93c3f408,XA-VAC,AT,BT,Playa,Ciudad Principal,2023-12-22 12:50:00,2023-12-22 16:10:00,180,163.0,95.0
245751,3c15779202b13158f78e8a8afe377250,NaN,AW,BT,Playa,Ciudad Principal,2024-10-04 10:00:00,2024-10-04 13:15:00,240,NaN,NaN
245752,20304ab7212bbbe6c77cdc852d4f8d19,NaN,BA,BT,Playa,Ciudad Principal,2024-05-23 11:25:00,2024-05-23 14:40:00,240,NaN,NaN

In [5]:
flights['Passengers'].isna().value_counts()

Passengers
True     123525
False    122228
Name: count, dtype: int64

In [6]:
sales

,Flight_ID,ProductType,ProductName,Quantity,TotalSales
0,a05290288259526edd3601160b10e1de,Botanas,Carne Seca Habanero,1,55.0
1,08f6f97437df8db101b050f1110be656,Licores,Jw Red Label,2,240.0
2,4e09c949826a77207868412baeff6d30,Licores,Jack And Coke,8,576.0
3,c3e1568fe46c68d3174681d322d412b3,Licores,Jw Red Label,2,240.0
4,7396e43fb94caca87add7bb1f1611e7e,Vivabus,Vivabus_Gdl.-Nvo. C. Camionera,4,320.0
...,...,...,...,...,...
2564356,638cf1904f936c50aea4a6f123ee07cf,Licores,Vino Tinto Sangre De Toro,1,155.0
2564357,04c5a19b8382a888d5c4c7b4932e783e,Licores,Vino Tinto Sangre De Toro,1,155.0
2564358,0291f6b201d2b24717a8ed7ca04f2d90,Licores,Vino Tinto Sangre De Toro,1,155.0
2564359,a10e3ac614fd434d6312897e07727c08,Licores,Vino Tinto Sangre De Toro,1,155.0
2564360,3f53b6ab66d674c6ecec9ebb5d040460,Licores,Vino Tinto Sangre De Toro,1,155.0

In [7]:
sales.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2564361 entries, 0 to 2564360
Data columns (total 5 columns):
 #   Column       Dtype
---  ------       -----
 0   Flight_ID    object
 1   ProductType  object
 2   ProductName  object
 3   Quantity     int64
 4   TotalSales   float64
dtypes: float64(1), int64(1), object(3)
memory usage: 97.8+ MB

In [8]:
sales['ProductType'].value_counts()

ProductType
Botanas                 613793
Refrescos               585118
Specials                395760
Licores                 304987
Perecederos             181990
Galletas                143928
Bebidas Calientes       125235
Sopas                   115486
OFERTAS                  38384
Lacteos                  37755
Vivabus                   9819
Transportaciones CUN      3635
Hertz.                    2398
COMBOS CREW               2017
VIVA Taxis                1384
Transportaciones MTY      1220
VivaTransfer               435
Antros                     388
VIVA PLAY                  386
Transportaciones TLC       239
Alimentos Charter            4
Name: count, dtype: int64

# Feature engineering

In [9]:
flights['STD'] = pd.to_datetime(flights['STD'])
flights['STA'] = pd.to_datetime(flights['STA'])

In [10]:
year_to_export = 2024

In [11]:
#flights_2023 = flights[(flights['STA'].dt.year == year_to_export)]

In [12]:
flights_2023 = flights[(flights['STA'].dt.year == 2024) & (flights['STA'].dt.month == 1)]

In [13]:
flights_2023 = flights_2023.dropna(subset=['Origin_Type'])
flights_2023 = flights_2023.dropna(subset=['Destination_Type'])

In [14]:
productos_deseados = ['Botanas', 'Licores', 'Galletas', 'Bebidas Calientes', 'Perecederos', 'Refrescos', 'Sopas', 'Lacteos']
sales_clean = sales[sales['ProductType'].isin(productos_deseados)]
sales_clean

,Flight_ID,ProductType,ProductName,Quantity,TotalSales
0,a05290288259526edd3601160b10e1de,Botanas,Carne Seca Habanero,1,55.0
1,08f6f97437df8db101b050f1110be656,Licores,Jw Red Label,2,240.0
2,4e09c949826a77207868412baeff6d30,Licores,Jack And Coke,8,576.0
3,c3e1568fe46c68d3174681d322d412b3,Licores,Jw Red Label,2,240.0
5,34ae909bf3699372fcd66f02af0bdd54,Licores,Ron Bacardi,2,240.0
...,...,...,...,...,...
2564356,638cf1904f936c50aea4a6f123ee07cf,Licores,Vino Tinto Sangre De Toro,1,155.0
2564357,04c5a19b8382a888d5c4c7b4932e783e,Licores,Vino Tinto Sangre De Toro,1,155.0
2564358,0291f6b201d2b24717a8ed7ca04f2d90,Licores,Vino Tinto Sangre De Toro,1,155.0
2564359,a10e3ac614fd434d6312897e07727c08,Licores,Vino Tinto Sangre De Toro,1,155.0
2564360,3f53b6ab66d674c6ecec9ebb5d040460,Licores,Vino Tinto Sangre De Toro,1,155.0

In [15]:
id_sales = sales_clean['Flight_ID'].unique()
len(id_sales)

108797

In [16]:
no_en_sales = ~flights_2023['Flight_ID'].isin(id_sales)

flights_no_en_sales = flights_2023.loc[no_en_sales, 'Flight_ID'].unique()

print(flights_no_en_sales)
len(flights_no_en_sales)

['bb319ee8f62b5ae38e6f6da4dbff03cb' '31659639d39b84bc59149bcc3f6d4e7a'
 '17718d43f541b4e944c5d8bd5b44e6a6' ... '2d560165088399e3638a31479412c69b'
 '1d178f4a133f821d3371d21870a1b138' '184e0731624c96b02fd250d4dd9a6b52']

10129

In [17]:
vuelos_no_sales = flights_2023[flights_2023['Flight_ID'].isin(flights_no_en_sales)]

vuelos_no_sales

,Flight_ID,Aeronave,DepartureStation,ArrivalStation,Destination_Type,Origin_Type,STD,STA,Capacity,Passengers,Bookings
19,bb319ee8f62b5ae38e6f6da4dbff03cb,XA-VAV,BA,AB,Playa,Ciudad Principal,2024-01-12 08:20:00,2024-01-12 09:20:00,186,NaN,NaN
57,31659639d39b84bc59149bcc3f6d4e7a,XA-VAI,AT,BS,Playa,Ciudad Principal,2024-01-11 06:50:00,2024-01-11 07:55:00,180,NaN,NaN
62,17718d43f541b4e944c5d8bd5b44e6a6,XA-VXO,AW,AX,MX Amigos y Familia,Ciudad Principal,2024-01-25 11:05:00,2024-01-25 11:55:00,240,NaN,NaN
75,43cfcc874d1f88dd5562d8b4657d1559,XA-VIT,AO,AR,Playa,Ciudad Principal,2024-01-12 12:10:00,2024-01-12 12:50:00,186,NaN,NaN
79,10099a86c19b730babcfcc371c6bd98c,XA-VYD,AT,BS,Playa,Ciudad Principal,2024-01-06 14:55:00,2024-01-06 16:00:00,180,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...
245661,512e4e3a66e19dd86394c0feff3b8821,XA-VYD,AW,BT,Playa,Ciudad Principal,2024-01-30 10:00:00,2024-01-30 13:15:00,180,NaN,NaN
245667,117cfb4ea348312b8dc48a751fa9c37b,XA-VBI,AT,BT,Playa,Ciudad Principal,2024-01-06 12:50:00,2024-01-06 16:10:00,220,NaN,NaN
245692,2d560165088399e3638a31479412c69b,XA-VIS,AO,BT,Playa,Ciudad Principal,2024-01-02 06:20:00,2024-01-02 10:10:00,186,NaN,NaN
245731,1d178f4a133f821d3371d21870a1b138,XA-VIS,AO,BT,Playa,Ciudad Principal,2024-01-13 06:20:00,2024-01-13 10:10:00,186,NaN,NaN
245737,184e0731624c96b02fd250d4dd9a6b52,XA-VXD,AT,BT,Playa,Ciudad Principal,2024-01-27 12:50:00,2024-01-27 15:55:00,240,NaN,NaN

In [18]:
vuelos_no_sales.reset_index(inplace=True)

In [19]:
products_name = sales['ProductName'].unique()

In [20]:

sales_pivot = sales_clean.pivot_table(index='Flight_ID', columns='ProductName', values='Quantity', fill_value=0)

merged_df = pd.merge(flights_2023, sales_pivot, on='Flight_ID', how='left')

merged_df

,Flight_ID,Aeronave,DepartureStation,ArrivalStation,Destination_Type,Origin_Type,STD,STA,Capacity,Passengers,...,Topochico Seltzer Fresa-Guayaba,Topochico Seltzer Mango,Tostitos,Tostitos Nachos Con Dip,Ultra Seltzer Frambuesa,Vino Blanco Cria Cuervos,Vino Tinto Cria Cuervos,Vino Tinto Sangre De Toro,Xx Lager,Xx Ultra
0,bb319ee8f62b5ae38e6f6da4dbff03cb,XA-VAV,BA,AB,Playa,Ciudad Principal,2024-01-12 08:20:00,2024-01-12 09:20:00,186,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,31659639d39b84bc59149bcc3f6d4e7a,XA-VAI,AT,BS,Playa,Ciudad Principal,2024-01-11 06:50:00,2024-01-11 07:55:00,180,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,17718d43f541b4e944c5d8bd5b44e6a6,XA-VXO,AW,AX,MX Amigos y Familia,Ciudad Principal,2024-01-25 11:05:00,2024-01-25 11:55:00,240,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,43cfcc874d1f88dd5562d8b4657d1559,XA-VIT,AO,AR,Playa,Ciudad Principal,2024-01-12 12:10:00,2024-01-12 12:50:00,186,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,10099a86c19b730babcfcc371c6bd98c,XA-VYD,AT,BS,Playa,Ciudad Principal,2024-01-06 14:55:00,2024-01-06 16:00:00,180,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10600,512e4e3a66e19dd86394c0feff3b8821,XA-VYD,AW,BT,Playa,Ciudad Principal,2024-01-30 10:00:00,2024-01-30 13:15:00,180,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10601,117cfb4ea348312b8dc48a751fa9c37b,XA-VBI,AT,BT,Playa,Ciudad Principal,2024-01-06 12:50:00,2024-01-06 16:10:00,220,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10602,2d560165088399e3638a31479412c69b,XA-VIS,AO,BT,Playa,Ciudad Principal,2024-01-02 06:20:00,2024-01-02 10:10:00,186,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10603,1d178f4a133f821d3371d21870a1b138,XA-VIS,AO,BT,Playa,Ciudad Principal,2024-01-13 06:20:00,2024-01-13 10:10:00,186,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10604,184e0731624c96b02fd250d4dd9a6b52,XA-VXD,AT,BT,Playa,Ciudad Principal,2024-01-27 12:50:00,2024-01-27 15:55:00,240,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [21]:
columnas_no_reemplazar = ['Flight_ID', 'Aeronave', 'DepartureStation', 'ArrivalStation', 'Destination_Type', 'Origin_Type', 'STD', 'STA', 'Capacity', 'Passengers']

data_clean = merged_df.fillna({col: 0 for col in merged_df.columns if col not in columnas_no_reemplazar})
data_clean

,Flight_ID,Aeronave,DepartureStation,ArrivalStation,Destination_Type,Origin_Type,STD,STA,Capacity,Passengers,...,Topochico Seltzer Fresa-Guayaba,Topochico Seltzer Mango,Tostitos,Tostitos Nachos Con Dip,Ultra Seltzer Frambuesa,Vino Blanco Cria Cuervos,Vino Tinto Cria Cuervos,Vino Tinto Sangre De Toro,Xx Lager,Xx Ultra
0,bb319ee8f62b5ae38e6f6da4dbff03cb,XA-VAV,BA,AB,Playa,Ciudad Principal,2024-01-12 08:20:00,2024-01-12 09:20:00,186,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,31659639d39b84bc59149bcc3f6d4e7a,XA-VAI,AT,BS,Playa,Ciudad Principal,2024-01-11 06:50:00,2024-01-11 07:55:00,180,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,17718d43f541b4e944c5d8bd5b44e6a6,XA-VXO,AW,AX,MX Amigos y Familia,Ciudad Principal,2024-01-25 11:05:00,2024-01-25 11:55:00,240,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,43cfcc874d1f88dd5562d8b4657d1559,XA-VIT,AO,AR,Playa,Ciudad Principal,2024-01-12 12:10:00,2024-01-12 12:50:00,186,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,10099a86c19b730babcfcc371c6bd98c,XA-VYD,AT,BS,Playa,Ciudad Principal,2024-01-06 14:55:00,2024-01-06 16:00:00,180,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10600,512e4e3a66e19dd86394c0feff3b8821,XA-VYD,AW,BT,Playa,Ciudad Principal,2024-01-30 10:00:00,2024-01-30 13:15:00,180,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
10601,117cfb4ea348312b8dc48a751fa9c37b,XA-VBI,AT,BT,Playa,Ciudad Principal,2024-01-06 12:50:00,2024-01-06 16:10:00,220,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
10602,2d560165088399e3638a31479412c69b,XA-VIS,AO,BT,Playa,Ciudad Principal,2024-01-02 06:20:00,2024-01-02 10:10:00,186,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
10603,1d178f4a133f821d3371d21870a1b138,XA-VIS,AO,BT,Playa,Ciudad Principal,2024-01-13 06:20:00,2024-01-13 10:10:00,186,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
10604,184e0731624c96b02fd250d4dd9a6b52,XA-VXD,AT,BT,Playa,Ciudad Principal,2024-01-27 12:50:00,2024-01-27 15:55:00,240,NaN,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [22]:
from sklearn.preprocessing import LabelEncoder

# Supongamos que tienes un DataFrame llamado flights_2023 con una columna 'Origin_Type'
# y deseas codificarla utilizando LabelEncoder

# Crear una instancia del codificador
le = LabelEncoder()

# Ajustar el codificador a los datos de la columna 'Origin_Type'
le.fit(data_clean['Destination_Type'])

# Transformar los valores categÃ³ricos en valores numÃ©ricos
data_clean['Destination_type_encoded'] = le.transform(data_clean['Destination_Type'])
del[data_clean['Destination_Type']]

# Ahora flights_2023 contiene una nueva columna 'Origin_type_encoded' con los valores codificados

C:\Users\jesus\AppData\Local\Temp\ipykernel_41508\3648216996.py:13: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  data_clean['Destination_type_encoded'] = le.transform(data_clean['Destination_Type'])

In [23]:
# Supongamos que tienes un DataFrame llamado flights_2023 con una columna 'Origin_Type'
# y deseas codificarla utilizando LabelEncoder

# Crear una instancia del codificador
le = LabelEncoder()

# Ajustar el codificador a los datos de la columna 'Origin_Type'
le.fit(data_clean['Origin_Type'])

# Transformar los valores categÃ³ricos en valores numÃ©ricos
data_clean['Origin_type_encoded'] = le.transform(data_clean['Origin_Type'])
del[data_clean['Origin_Type']]

# Ahora flights_2023 contiene una nueva columna 'Origin_type_encoded' con los valores codificados

C:\Users\jesus\AppData\Local\Temp\ipykernel_41508\3814016600.py:11: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  data_clean['Origin_type_encoded'] = le.transform(data_clean['Origin_Type'])

In [24]:
data_clean['route'] = data_clean['DepartureStation'] + data_clean['ArrivalStation']

C:\Users\jesus\AppData\Local\Temp\ipykernel_41508\2924280524.py:1: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  data_clean['route'] = data_clean['DepartureStation'] + data_clean['ArrivalStation']

In [25]:
# Crear una instancia del codificador
le = LabelEncoder()

# Ajustar el codificador a los datos de la columna 'Origin_Type'
le.fit(data_clean['route'])

# Transformar los valores categÃ³ricos en valores numÃ©ricos
data_clean['route_encoded'] = le.transform(data_clean['route'])
del[data_clean['route']]

C:\Users\jesus\AppData\Local\Temp\ipykernel_41508\1476128848.py:8: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  data_clean['route_encoded'] = le.transform(data_clean['route'])

In [26]:
# Crear una instancia del codificador
le = LabelEncoder()

# Ajustar el codificador a los datos de la columna 'Origin_Type'
le.fit(data_clean['DepartureStation'])

# Transformar los valores categÃ³ricos en valores numÃ©ricos
data_clean['DepartureStation_encoded'] = le.transform(data_clean['DepartureStation'])
del[data_clean['DepartureStation']]

C:\Users\jesus\AppData\Local\Temp\ipykernel_41508\3263304829.py:8: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  data_clean['DepartureStation_encoded'] = le.transform(data_clean['DepartureStation'])

In [27]:
# Crear una instancia del codificador
le = LabelEncoder()

# Ajustar el codificador a los datos de la columna 'Origin_Type'
le.fit(data_clean['ArrivalStation'])

# Transformar los valores categÃ³ricos en valores numÃ©ricos
data_clean['ArrivalStation_encoded'] = le.transform(data_clean['ArrivalStation'])
del[data_clean['ArrivalStation']]

C:\Users\jesus\AppData\Local\Temp\ipykernel_41508\2559712268.py:8: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  data_clean['ArrivalStation_encoded'] = le.transform(data_clean['ArrivalStation'])

In [28]:
!pip install holidays

Requirement already satisfied: holidays in c:\users\jesus\anaconda3\envs\datathon2024\lib\site-packages (0.47)
Requirement already satisfied: python-dateutil in c:\users\jesus\appdata\roaming\python\python311\site-packages (from holidays) (2.8.2)
Requirement already satisfied: six>=1.5 in c:\users\jesus\appdata\roaming\python\python311\site-packages (from python-dateutil->holidays) (1.16.0)

In [29]:
import holidays

In [30]:
mx_holidays = holidays.Mexico()

# FunciÃ³n para marcar si una fecha es un dÃ­a festivo en MÃ©xico
def is_mexico_holiday(fecha):
    if fecha in mx_holidays:
        return 1
    else:
        return 0

# Aplicar la funciÃ³n a cada fila de la columna 'fecha' y almacenar el resultado en una nueva columna 'is_holiday'
data_clean['is_holiday'] = data_clean['STD'].apply(is_mexico_holiday)

C:\Users\jesus\AppData\Local\Temp\ipykernel_41508\1574622365.py:11: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  data_clean['is_holiday'] = data_clean['STD'].apply(is_mexico_holiday)

In [31]:
data_clean['hour_STD'] = data_clean['STD'].dt.hour
data_clean['minutes_STD'] = data_clean['STD'].dt.minute
data_clean['hour_STA'] = data_clean['STA'].dt.hour
data_clean['minutes_STA'] = data_clean['STA'].dt.minute

data_clean['day_of_week'] = data_clean['STD'].dt.dayofweek  # 0 para lunes, 1 para martes, ..., 6 para domingo
data_clean['week_of_year'] = data_clean['STD'].dt.isocalendar().week
data_clean['month'] = data_clean['STD'].dt.month

data_clean['time_of_fligth'] = (data_clean['STA'] - data_clean['STD']).dt.total_seconds() / 60

C:\Users\jesus\AppData\Local\Temp\ipykernel_41508\1250165247.py:1: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  data_clean['hour_STD'] = data_clean['STD'].dt.hour
C:\Users\jesus\AppData\Local\Temp\ipykernel_41508\1250165247.py:2: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  data_clean['minutes_STD'] = data_clean['STD'].dt.minute
C:\Users\jesus\AppData\Local\Temp\ipykernel_41508\1250165247.py:3: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  data_clean['hour_STA'] = data_clean['STA'].dt.hour
C:\Users\jesus\AppData\Local\Temp\ipykernel_41508\1250165247.py:4: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  data_clean['minutes_STA'] = data_clean['STA'].dt.minute
C:\Users\jesus\AppData\Local\Temp\ipykernel_41508\1250165247.py:6: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  data_clean['day_of_week'] = data_clean['STD'].dt.dayofweek  # 0 para lunes, 1 para martes, ..., 6 para domingo
C:\Users\jesus\AppData\Local\Temp\ipykernel_41508\1250165247.py:7: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  data_clean['week_of_year'] = data_clean['STD'].dt.isocalendar().week
C:\Users\jesus\AppData\Local\Temp\ipykernel_41508\1250165247.py:8: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  data_clean['month'] = data_clean['STD'].dt.month
C:\Users\jesus\AppData\Local\Temp\ipykernel_41508\1250165247.py:10: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  data_clean['time_of_fligth'] = (data_clean['STA'] - data_clean['STD']).dt.total_seconds() / 60

# Comprobaciones

In [32]:
data_clean['DepartureStation_encoded'].value_counts()

DepartureStation_encoded
18    1798
15    1602
10    1095
7     1026
34     863
22     551
16     352
25     252
4      230
29     229
37     224
35     221
2      213
8      167
6      162
38     148
11     141
24     140
33     140
20     133
27     121
26     117
28     107
23     104
40      98
31      52
12      51
17      49
36      49
13      38
5       31
39      29
21      15
19      15
32      13
3       10
14       9
0        7
9        1
30       1
1        1
Name: count, dtype: int64

In [33]:
data_clean['ArrivalStation_encoded'].value_counts()

ArrivalStation_encoded
18    1786
15    1603
10    1094
7     1026
34     862
22     551
16     351
25     252
4      231
29     228
37     225
35     221
2      213
8      167
6      162
38     149
11     142
33     141
24     141
20     134
27     121
26     118
28     107
23     105
40      99
31      52
12      51
36      49
17      49
13      38
39      31
5       31
21      15
19      15
32      13
3       10
0       10
14       9
30       1
1        1
9        1
Name: count, dtype: int64

In [34]:
data_clean['Origin_type_encoded'].value_counts()

Origin_type_encoded
1    5046
4    2012
3    1843
0    1108
2     596
Name: count, dtype: int64

In [35]:
data_clean['Destination_type_encoded'].value_counts()

Destination_type_encoded
1    5034
4    2019
3    1847
0    1108
2     597
Name: count, dtype: int64

# continue

In [36]:
data_clean

,Flight_ID,Aeronave,STD,STA,Capacity,Passengers,Bookings,Agua Natural 600 Ml,Amstel Ultra,Arandano,...,ArrivalStation_encoded,is_holiday,hour_STD,minutes_STD,hour_STA,minutes_STA,day_of_week,week_of_year,month,time_of_fligth
0,bb319ee8f62b5ae38e6f6da4dbff03cb,XA-VAV,2024-01-12 08:20:00,2024-01-12 09:20:00,186,NaN,0.0,0.0,0.0,0.0,...,0,0,8,20,9,20,4,2,1,60.0
1,31659639d39b84bc59149bcc3f6d4e7a,XA-VAI,2024-01-11 06:50:00,2024-01-11 07:55:00,180,NaN,0.0,0.0,0.0,0.0,...,39,0,6,50,7,55,3,2,1,65.0
2,17718d43f541b4e944c5d8bd5b44e6a6,XA-VXO,2024-01-25 11:05:00,2024-01-25 11:55:00,240,NaN,0.0,0.0,0.0,0.0,...,19,0,11,5,11,55,3,4,1,50.0
3,43cfcc874d1f88dd5562d8b4657d1559,XA-VIT,2024-01-12 12:10:00,2024-01-12 12:50:00,186,NaN,0.0,0.0,0.0,0.0,...,13,0,12,10,12,50,4,2,1,40.0
4,10099a86c19b730babcfcc371c6bd98c,XA-VYD,2024-01-06 14:55:00,2024-01-06 16:00:00,180,NaN,0.0,0.0,0.0,0.0,...,39,0,14,55,16,0,5,1,1,65.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10600,512e4e3a66e19dd86394c0feff3b8821,XA-VYD,2024-01-30 10:00:00,2024-01-30 13:15:00,180,NaN,0.0,0.0,0.0,0.0,...,40,0,10,0,13,15,1,5,1,195.0
10601,117cfb4ea348312b8dc48a751fa9c37b,XA-VBI,2024-01-06 12:50:00,2024-01-06 16:10:00,220,NaN,0.0,0.0,0.0,0.0,...,40,0,12,50,16,10,5,1,1,200.0
10602,2d560165088399e3638a31479412c69b,XA-VIS,2024-01-02 06:20:00,2024-01-02 10:10:00,186,NaN,0.0,0.0,0.0,0.0,...,40,0,6,20,10,10,1,1,1,230.0
10603,1d178f4a133f821d3371d21870a1b138,XA-VIS,2024-01-13 06:20:00,2024-01-13 10:10:00,186,NaN,0.0,0.0,0.0,0.0,...,40,0,6,20,10,10,5,2,1,230.0
10604,184e0731624c96b02fd250d4dd9a6b52,XA-VXD,2024-01-27 12:50:00,2024-01-27 15:55:00,240,NaN,0.0,0.0,0.0,0.0,...,40,0,12,50,15,55,5,4,1,185.0

In [41]:
data_clean[data_clean['Flight_ID'] == '4d95c80c854b637e6fdf951e85f1a05b']

,Flight_ID,Aeronave,STD,STA,Capacity,Passengers,Bookings,Agua Natural 600 Ml,Amstel Ultra,Arandano,...,ArrivalStation_encoded,is_holiday,hour_STD,minutes_STD,hour_STA,minutes_STA,day_of_week,week_of_year,month,time_of_fligth
4371,4d95c80c854b637e6fdf951e85f1a05b,XA-VBM,2024-01-03 16:00:00,2024-01-03 17:40:00,240,NaN,0.0,0.0,0.0,0.0,...,15,0,16,0,17,40,2,1,1,100.0

In [37]:
data_clean.to_csv('data_clean'+str(year_to_export)+'.csv', index=False)